# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
/docs

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
cypress/integration/1-getting-started/todo.spec.js
cypress/integration/2-advanced-examples/actions.spec.js
cypress/integration/2-advanced-examples/aliasing.spec.js
cypress/integration/2-advanced-examples/assertions.spec.js
cypress/integration/2-advanced-examples/connectors.spec.js
cypress/integration/2-advanced-examples/cookies.spec.js
cypress/integration/2-advanced-examples/cypress_api.spec.js
cypress/integration/2-advanced-examples/files.spec.js
cypress/integration/2-advanced-examples/local_storage.spec.js
cypress/integration/2-advanced-examples/location.spec.js
cypress/integration/2-advanced-examples/misc.spec.js
cypress/integration/2-advanced-examples/navigation.spec.js
cypress/integration/2-advanced-examples/network_requests.spec.js
cypress/integration/2-advanced-examples/querying.spec.js
cypress/integration/2-advanced-examples/spies_stubs_clocks.spec.js
cypress/integration/2-advanced-examples/traversal.spec.js
cypress/integration/2-advanced-examples/utilities.spec.js
cypress/integration/2-advanced-examples/viewport.spec.js
cypress/integration/2-advanced-examples/waiting.spec.js
cypress/integration/2-advanced-examples/window.spec.js
